# requirements.txt
streamlit>=1.33
pandas>=2.2
numpy>=1.26
altair>=5.0
yfinance
pandas-datareader>=0.10
gspread>=6.1.2
google-api-python-client>=2.131.0
google-auth>=2.31.0
streamlit-option-menu>=0.3.12
st-aggrid